* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: pink;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  height: 100vh;
  width: 100vw;

  .image-container {
    height: 100%;
    width: 100vw;
    overflow: hidden;

    display: flex;
    justify-content: center;

    img {
      height: 100%;
      aspect-ratio: 2600 / 1080;
    }
  }

  .nav-container {
    .hotspot {
      .hotspot-pointer {
        height: 3.125rem;
        width: 3.125rem;
        position: relative;
        > div {
          height: 3.125rem;
          width: 3.125rem;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .circle-in {
          &.circle-1 {
            background: #233143;
            transform: scale(0.86);
          }
          &.circle-2 {
            background: rgba(255, 255, 255, 0.2);
            transform: scale(0.76);
          }
          &.circle-3 {
            background: #c03;
            transform: scale(0.36);
          }
          &.circle-4 {
            background: #fff;
            transform: scale(0.12);
          }
        }
        .circle-out {
          border: 2.5px solid rgba(255, 255, 255, 0.5);
          animation: pulse 2s infinite linear;
          &.pulse-2 {
            animation-delay: 1s;
          }
          @keyframes pulse {
            0% {
              opacity: 0;
              transform: scale(0.7);
            }
            50% {
              opacity: 1;
              transform: scale(1);
            }
            100% {
              opacity: 0;
              transform: scale(1.3);
            }
          }
        }
      }
    }
  }
}
