* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: pink;
}

// General Styles
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 100vh;
  width: 100vw;
  @include flex-col();
  overflow-x: hidden;
  position: relative;

  .draggable-content {
    height: 100%;
    width: max-content;

    .image-container {
      height: 100%;
      img {
        height: 100%;
        aspect-ratio: 2600 / 1080;
      }
    }

    .nav-container {
      .hotspot {
        position: absolute;

        // Positioning different nav items on the map
        &.pavillon {
          left: 48.25%;
          top: 39%;
        }
        &.plaza {
          left: 46.25%;
          top: 61.5%;
        }
        &.archive {
          left: 34.75%;
          top: 61.5%;
        }
        &.theater {
          left: 62%;
          top: 43%;
        }
        &.partner {
          left: 60%;
          top: 66.75%;
        }

        // Hotspot Pointer => Animated Button
        .hotspot-pointer {
          height: 3.125rem;
          width: 3.125rem;
          position: relative;

          > div {
            height: 3.125rem;
            width: 3.125rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .circle-in {
            &.circle-1 {
              background: #233143;
              transform: scale(0.86);
            }
            &.circle-2 {
              background: rgba(255, 255, 255, 0.2);
              transform: scale(0.76);
            }
            &.circle-3 {
              background: #c03;
              transform: scale(0.36);
            }
            &.circle-4 {
              background: #fff;
              transform: scale(0.12);
            }
          }
          .circle-out {
            border: 2.5px solid rgba(255, 255, 255, 0.5);
            animation: pulse 2s infinite linear;
            &.pulse-2 {
              animation-delay: 1s;
            }
          }
        }

        // Info tags => Visible on hover
        .info {
          padding: 0.75rem 1.5rem;
          background: #c03;
          border-radius: 2.5rem;

          position: absolute;
          top: 165%;
          left: 50%;
          transform: translateX(-35%);

          color: #fff;
          font-size: 0.875rem;
          white-space: nowrap;

          span {
            @include flex-row();
            .icon {
              margin-right: 0.5rem;
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: -0.4rem;
            right: -0.4rem;
            bottom: -0.4rem;
            left: -0.4rem;
            border: 2px solid #c03;
            border-radius: 2.5rem;
            box-shadow: 0 0 1.375rem #fff;
          }

          opacity: 0;
          transition: opacity 0.2s ease-in-out;
        }
        // Hover Behaviour
        &:hover {
          .info {
            opacity: 1;
          }
        }
      }

      // Non-active Hotspots
      .hotspot:not(.active) {
        .hotspot-pointer {
          cursor: not-allowed;

          .circle-in {
            opacity: 0.7;
            &.circle-3 {
              background: rgba(255, 255, 255, 0.2);
            }
            &.circle-4 {
              background: rgba(255, 255, 255, 0.5);
            }
          }
          .circle-out {
            opacity: 0;
            animation-play-state: paused;
          }
        }

        .info {
          background: #233143;
          pointer-events: none;
          span {
            padding-top: 0.25rem;
            opacity: 0.5;
          }
          &::after {
            border: 2px solid rgba(229, 231, 235, 0.5);
            box-shadow: none;
          }
        }
      }

      @keyframes pulse {
        0% {
          opacity: 0;
          transform: scale(0.7);
        }
        50% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 0;
          transform: scale(1.3);
        }
      }
    }
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border: 3px solid #233143;
  background-color: #c03;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: #233143;
}
